# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual environments
# =====================
.venv/
venv/

# =====================
# Environment variables / secrets
# =====================
.env
.env.*
*.env

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Docker
# =====================
**/mysql_data/
docker-compose.override.yml

# =====================
# Logs / misc
# =====================
*.log